{{> header }}

<div class="container">
<br><br>
    <h3>Register</h3>
    <h2><code>TEST IMPORTANT: This should to link with each user in the data base.</code></h2>
    <form method="POST" action="/register">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
    </div>
        <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="passwordMatch">Re-Enter Password</label>
        <input type="password" name="passwordMatch" class="form-control" id="passwordMatch" placeholder="Password">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

{{> footer-end }}