{{> header}}

<div class="container">
    <br><br>
    <h3>Team</h3>    
    <ul>
        {{#each team}}
            <li> {{this.name}} </li>
        {{/each }}
    </ul>
    <br>
    <a href="/">Back</a>
</div>

{{> footer-end }}